@import "./mixins.scss";
@import "./varaibles.scss";
@import "../../views/CountriesDetailsView/CountriesDetails.scss";
@import "../../views/CountriesListingView/CountriesListing.scss";
@import "../../components/Layout/HeaderComponent.scss";
@import "../../components/GenericComponents/ListingCards/ListingCard.scss";
@import "../../components/GenericComponents/ErrorPage/ErrorPage.scss";
@import "../../components/GenericComponents/NotFound/NotFound.scss";

body {
  background-color: var(--secondary);
  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    img {
      width: 50px;
    }
  }
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --primary: #fff;
  --secondary: #f1f1f1;
  --text: #000;
  --text-fade: #696c6f;
  font-size: 20px;
}

.dark-mode {
  --primary: #2b3743;
  --secondary: #212e37;
  --text: #fff;
  --text-fade: #ced2d6;
}
