.cards-details {
  color: var(--text);
  margin-top: 80px;
  margin-bottom: 100px; }
  .cards-details .cards-details-backBtn {
    width: 16%;
    position: relative;
    font-size: 22px;
    margin-bottom: 80px;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-inline-end: 0;
    padding-inline-start: 20px;
    color: var(--text);
    box-shadow: 0px 3px 6px #00000029; }
    .cards-details .cards-details-backBtn img {
      position: absolute;
      width: 23px;
      top: 15px;
      left: 29px; }
      body.dark-mode .cards-details .cards-details-backBtn img {
        filter: invert(1); }
  .cards-details .cards-details__title {
    margin: 30px 0; }
  .cards-details .cards-details__img {
    width: 100%;
    height: 100%;
    max-height: 400px; }
  .cards-details .cards-details__data {
    list-style-type: none;
    padding: 0; }
    .cards-details .cards-details__data span {
      margin-inline-start: 10px;
      color: var(--text-fade); }
  .cards-details .cards-details__related-data {
    margin-top: 80px; }
    .cards-details .cards-details__related-data p {
      display: inline-block;
      margin-inline-end: 20px; }
    .cards-details .cards-details__related-data button {
      margin-inline-end: 10px;
      background-color: var(--primary);
      color: var(--text-fade);
      border: none;
      padding: 5px 30px;
      box-shadow: none;
      margin-bottom: 10px;
      box-shadow: 0px 3px 6px #00000029; }

@media (max-width: 992px) {
  .cards-details .cards-details__related-data {
    margin-top: 10px; }
  .cards-details .cards-details-backBtn {
    width: 25%; } }

@media (max-width: 767px) {
  .cards-details {
    margin-bottom: 40px; }
    .cards-details .cards-details-backBtn {
      width: 35%;
      font-size: 15px; }
      .cards-details .cards-details-backBtn img {
        width: 16px; }
    .cards-details .cards-details__img {
      padding-bottom: 40px; } }

.cards-listing {
  margin-top: 60px; }
  .cards-listing .cards-listing__actions {
    margin-bottom: 60px; }
    .cards-listing .cards-listing__actions .cards-listing__input .input-group {
      box-shadow: 0px 3px 6px #00000029; }
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text,
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .form-control {
        background-color: var(--primary);
        border: none;
        box-shadow: none;
        color: var(--text); }
        .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text::placeholder,
        .cards-listing .cards-listing__actions .cards-listing__input .input-group .form-control::placeholder {
          color: var(--text-fade);
          font-size: 12px; }
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text {
        padding-inline-start: 18px; }
        .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text img {
          width: 15px;
          filter: brightness(0.5); }
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .form-control {
        padding-bottom: 12px; }
    .cards-listing .cards-listing__actions .cards-listing__dropdown {
      text-align: end; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle {
        box-shadow: 0px 3px 6px #00000029;
        position: relative;
        text-align: start;
        width: 25%;
        background-color: var(--primary);
        border: none;
        box-shadow: none;
        color: var(--text-fade);
        font-size: 12px;
        padding: 12px 20px; }
        .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle::after {
          position: absolute;
          right: 17px;
          top: 20px; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu {
        background-color: var(--primary);
        width: 25%; }
        .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu li a {
          color: var(--text-fade);
          font-size: 14px;
          padding-inline-end: 29px;
          padding-inline-start: 27px; }
  .cards-listing .cards-listing__backBtn {
    width: 16%;
    position: relative;
    font-size: 22px;
    margin-bottom: 80px;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-inline-end: 0;
    padding-inline-start: 20px; }
    .cards-listing .cards-listing__backBtn img {
      position: absolute;
      width: 23px;
      top: 15px;
      left: 29px; }
      body.dark-mode .cards-listing .cards-listing__backBtn img {
        filter: invert(1); }
  .cards-listing .cards-listing__cards {
    row-gap: 80px; }
    .cards-listing .cards-listing__cards a {
      text-decoration: none; }

@media (max-width: 992px) {
  .cards-listing .cards-listing__backBtn {
    width: 25%; }
  .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle {
    width: 40%; } }

@media (max-width: 767px) {
  .cards-listing {
    margin-bottom: 40px; }
    .cards-listing .cards-listing__backBtn {
      width: 35%;
      font-size: 15px; }
      .cards-listing .cards-listing__backBtn img {
        width: 16px; }
    .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown {
      text-align: start;
      margin-top: 30px; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle {
        width: 50%; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu {
        width: 50%; } }

header {
  background-color: var(--primary);
  box-shadow: 0px 3px 6px #00000029; }
  header .container .row {
    color: var(--text);
    font-weight: bold;
    padding: 10px 0; }
    header .container .row .header__title p {
      margin: 0; }
    header .container .row .header__dark-mode-btn {
      text-align: end; }
      header .container .row .header__dark-mode-btn button {
        background-color: transparent;
        border: 0;
        font-weight: bold;
        color: var(--text); }
        header .container .row .header__dark-mode-btn button img {
          width: 20px;
          margin-inline-end: 10px; }
          body.dark-mode header .container .row .header__dark-mode-btn button img {
            filter: invert(1); }

.listing-card {
  box-shadow: 0px 3px 6px #00000029; }
  .listing-card .listing-card__img img {
    width: 100%;
    height: 200px; }
  .listing-card .listing-card__body {
    background-color: var(--primary);
    color: var(--text);
    padding: 20px; }
    .listing-card .listing-card__body h2 {
      font-size: 24px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .listing-card .listing-card__body ul {
      list-style-type: none;
      padding: 0; }
      .listing-card .listing-card__body ul span {
        margin-inline-start: 10px;
        color: var(--text-fade); }

body {
  background-color: var(--secondary); }
  body .loader-container {
    position: absolute;
    top: 50%;
    left: 50%; }
    body .loader-container img {
      width: 50px; }

:root {
  --primary: #fff;
  --secondary: #f1f1f1;
  --text: #000;
  --text-fade: #696c6f; }

.dark-mode {
  --primary: #2b3743;
  --secondary: #212e37;
  --text: #fff;
  --text-fade: #ced2d6; }
