.cards-details {
  position: relative;
  color: var(--text);
  margin: 60px 100px;
  background-color: var(--primary);
  padding: 100px 20px 80px; }
  .cards-details .cards-details-backBtn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    font-size: 40px;
    color: #000; }
    body.dark-mode .cards-details .cards-details-backBtn {
      filter: invert(1); }
  .cards-details .cards-details__title {
    margin: 30px 0;
    font-weight: 600; }
  .cards-details .cards-details__img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    box-shadow: 0px -3px 6px #00000029; }
  .cards-details .cards-details__data {
    list-style-type: none;
    padding: 0; }
    .cards-details .cards-details__data li {
      text-transform: capitalize; }
    .cards-details .cards-details__data span {
      margin-inline-start: 10px;
      color: var(--text-fade); }
  .cards-details .cards-details__related-data {
    margin-top: 80px; }
    .cards-details .cards-details__related-data .cards-details__related-data-btn {
      display: inline-block; }
    .cards-details .cards-details__related-data p {
      display: inline-block;
      margin-inline-end: 20px; }
    .cards-details .cards-details__related-data button {
      margin-inline-end: 10px;
      background-color: var(--primary);
      color: var(--text-fade);
      border: none;
      padding: 5px 30px;
      box-shadow: none;
      margin-bottom: 10px;
      box-shadow: 0px 3px 6px #00000029; }

@media (max-width: 1024px) {
  .cards-details {
    margin: 60px 60px; } }

@media (max-width: 992px) {
  .cards-details {
    margin: 60px 40px; }
    .cards-details .cards-details__related-data {
      margin-top: 10px; } }

@media (max-width: 767px) {
  .cards-details {
    margin-bottom: 40px; }
    .cards-details .cards-details-backBtn img {
      top: 13px;
      left: 14px; }
    .cards-details .cards-details__img {
      padding-bottom: 40px; } }

.cards-listing {
  margin-top: 60px;
  margin-bottom: 100px; }
  .cards-listing .cards-listing__no-data-matched h1 {
    text-align: center;
    color: var(--text); }
  .cards-listing .cards-listing__actions {
    margin-bottom: 60px; }
    .cards-listing .cards-listing__actions .cards-listing__input .input-group {
      box-shadow: 0px 3px 6px #00000029; }
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text,
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .form-control {
        background-color: var(--primary);
        border: none;
        box-shadow: none;
        color: var(--text); }
        .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text::placeholder,
        .cards-listing .cards-listing__actions .cards-listing__input .input-group .form-control::placeholder {
          color: var(--text-fade);
          font-size: 0.7rem; }
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text {
        padding-inline-start: 18px; }
        .cards-listing .cards-listing__actions .cards-listing__input .input-group .input-group-text img {
          width: 15px;
          filter: brightness(0.5); }
      .cards-listing .cards-listing__actions .cards-listing__input .input-group .form-control {
        padding-bottom: 12px; }
    .cards-listing .cards-listing__actions .cards-listing__input .cards-listing__inputValidation {
      color: red;
      font-size: 0.8rem; }
    .cards-listing .cards-listing__actions .cards-listing__dropdown {
      text-align: end; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle {
        box-shadow: 0px 3px 6px #00000029;
        position: relative;
        text-align: start;
        width: 25%;
        background-color: var(--primary);
        border: none;
        box-shadow: none;
        color: var(--text-fade);
        font-size: 0.7rem;
        padding: 12px 20px; }
        .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle::after {
          position: absolute;
          right: 17px;
          top: 20px; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu {
        background-color: var(--primary);
        width: 25%; }
        .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu li a {
          color: var(--text-fade);
          font-size: 14px;
          padding-inline-end: 29px;
          padding-inline-start: 27px; }
          body.dark-mode .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu li a:hover {
            color: var(--primary); }
  .cards-listing .cards-listing__backBtn {
    width: 16%;
    position: relative;
    font-size: 1rem;
    margin-bottom: 80px;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-inline-end: 0;
    padding-inline-start: 20px; }
    .cards-listing .cards-listing__backBtn img {
      position: absolute;
      width: 23px;
      top: 15px;
      left: 29px; }
      body.dark-mode .cards-listing .cards-listing__backBtn img {
        filter: invert(1); }
  .cards-listing .cards-listing__cards {
    row-gap: 80px; }
    .cards-listing .cards-listing__cards a {
      text-decoration: none; }
  .cards-listing .cards-listing__details {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto; }

.--stop-scroll {
  height: 100%;
  overflow: hidden; }

@media (max-width: 992px) {
  .cards-listing .cards-listing__backBtn {
    width: 25%; }
  .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle {
    width: 40%; } }

@media (max-width: 767px) {
  .cards-listing {
    margin-bottom: 40px; }
    .cards-listing .cards-listing__backBtn {
      width: 35%;
      font-size: 15px; }
      .cards-listing .cards-listing__backBtn img {
        width: 16px;
        top: 13px;
        left: 14px; }
    .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown {
      text-align: start;
      margin-top: 30px; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-toggle {
        width: 50%; }
      .cards-listing .cards-listing__actions .cards-listing__dropdown .dropdown .dropdown-menu {
        width: 50%; } }

header {
  background-color: var(--primary);
  box-shadow: 0px 3px 6px #00000029; }
  header .container .row {
    color: var(--text);
    font-weight: bold;
    padding: 10px 0; }
    header .container .row .header__title p {
      margin: 0; }
    header .container .row .header__title a {
      text-decoration: none;
      color: var(--text); }
    header .container .row .header__dark-mode-btn {
      text-align: end; }
      header .container .row .header__dark-mode-btn button {
        background-color: transparent;
        border: 0;
        font-weight: bold;
        color: var(--text); }
        header .container .row .header__dark-mode-btn button .hydrated {
          margin-inline-end: 5px; }
        body.dark-mode header .container .row .header__dark-mode-btn button span {
          filter: invert(1); }

@media (max-width: 500px) {
  header .container .row {
    align-items: baseline; }
    header .container .row .header__title a {
      font-size: 0.6rem; }
    header .container .row .header__dark-mode-btn button {
      font-size: 0.6rem; }
      header .container .row .header__dark-mode-btn button img {
        width: 15px; } }

.listing-card {
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer; }
  .listing-card .listing-card__img img {
    width: 100%;
    height: 200px;
    box-shadow: 0px 3px 6px #00000029; }
  .listing-card .listing-card__body {
    background-color: var(--primary);
    color: var(--text);
    padding: 20px;
    padding-top: 30px; }
    .listing-card .listing-card__body h2 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .listing-card .listing-card__body ul {
      list-style-type: none;
      padding: 0;
      font-size: 0.9rem; }
      .listing-card .listing-card__body ul li {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .listing-card .listing-card__body ul span {
        margin-inline-start: 10px;
        color: var(--text-fade); }

.error-page {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 20%; }
  .error-page p {
    font-size: 2rem;
    color: red; }

.notFound {
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center; }
  .notFound img {
    margin-bottom: 40px; }
  .notFound .notFound__action a {
    color: #000;
    font-size: 1.5rem; }
    body.dark-mode .notFound .notFound__action a {
      color: #fff; }

@media (max-width: 800px) {
  .notFound {
    left: 0; }
    .notFound img {
      width: 100%; } }

body {
  background-color: var(--secondary);
  font-family: "Nunito Sans", sans-serif; }
  body .loader-container {
    position: absolute;
    top: 50%;
    left: 50%; }
    body .loader-container img {
      width: 50px; }

:root {
  --primary: #fff;
  --secondary: #f1f1f1;
  --text: #000;
  --text-fade: #696c6f;
  font-size: 20px; }

.dark-mode {
  --primary: #2b3743;
  --secondary: #212e37;
  --text: #fff;
  --text-fade: #ced2d6; }
