header {
  .container {
    .row {
      justify-content: center;
      .header__title {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #fff;
        h1 {
          font-weight: 700;
        }
        p {
          margin: 0;
        }
      }
      .input-group {
        width: 50%;
        margin-bottom: 30px;
        input {
          border-radius: 15px 0 0 15px;
          box-shadow: none;
        }
        button {
          width: 13%;
          background-color: #000;
          box-shadow: none;
          border-radius: 0 15px 15px 0;
          ion-icon {
            color: #fff;
            padding-top: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .container {
      .row {
        .input-group {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    .container {
      .row {
        .input-group {
          width: 100%;
        }
      }
    }
  }
}
