header {
  background-color: var(--primary);
  .container {
    .row {
      color: var(--text);
      font-weight: bold;
      padding: 10px 0;
      .header__title {
        p {
          margin: 0;
        }
      }
      .header__dark-mode-btn {
        text-align: end;
        button {
          background-color: transparent;
          border: 0;
          font-weight: bold;
          color: var(--text);
          img {
            width: 20px;
            margin-inline-end: 10px;
            body.dark-mode & {
              filter: invert(1);
            }
          }
        }
      }
    }
  }
}
