header .container .row {
  justify-content: center; }
  header .container .row .header__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff; }
    header .container .row .header__title h1 {
      font-weight: 700; }
    header .container .row .header__title p {
      margin: 0; }
  header .container .row .input-group {
    width: 50%;
    margin-bottom: 30px; }
    header .container .row .input-group input {
      border-radius: 15px 0 0 15px;
      box-shadow: none; }
    header .container .row .input-group button {
      width: 13%;
      background-color: #000;
      box-shadow: none;
      border-radius: 0 15px 15px 0; }
      header .container .row .input-group button ion-icon {
        color: #fff;
        padding-top: 6px; }

@media (max-width: 1024px) {
  header .container .row .input-group {
    width: 70%; } }

@media (max-width: 767px) {
  header .container .row .input-group {
    width: 100%; } }
