header {
  background-color: var(--primary); }
  header .container .row {
    color: var(--text);
    font-weight: bold;
    padding: 10px 0; }
    header .container .row .header__title p {
      margin: 0; }
    header .container .row .header__dark-mode-btn {
      text-align: end; }
      header .container .row .header__dark-mode-btn button {
        background-color: transparent;
        border: 0;
        font-weight: bold;
        color: var(--text); }
        header .container .row .header__dark-mode-btn button img {
          width: 20px;
          margin-inline-end: 10px; }
          body.dark-mode header .container .row .header__dark-mode-btn button img {
            filter: invert(1); }
