.cards-details {
  position: relative;
  color: var(--text);
  margin: 60px 100px;
  background-color: var(--primary);
  padding: 100px 20px 80px;
  .row {
    //margin: inherit;
  }
  .cards-details-backBtn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    font-size: 40px;
    color: #000;
    body.dark-mode & {
      filter: invert(1);
    }
  }
  .cards-details__title {
    margin: 30px 0;
    font-weight: 600;
  }
  .cards-details__img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    box-shadow: 0px -3px 6px #00000029;
  }
  .cards-details__data {
    list-style-type: none;
    padding: 0;
    li {
      text-transform: capitalize;
    }
    span {
      margin-inline-start: 10px;
      color: var(--text-fade);
    }
  }
  .cards-details__related-data {
    margin-top: 80px;
    .cards-details__related-data-btn {
      display: inline-block;
    }
    p {
      display: inline-block;
      margin-inline-end: 20px;
    }
    button {
      margin-inline-end: 10px;
      background-color: var(--primary);
      color: var(--text-fade);
      border: none;
      padding: 5px 30px;
      box-shadow: none;
      margin-bottom: 10px;
      box-shadow: 0px 3px 6px #00000029;
    }
  }
}
@media (max-width: 1024px) {
  .cards-details {
    margin: 60px 60px;
  }
}
@media (max-width: 992px) {
  .cards-details {
    margin: 60px 40px;
    .cards-details__related-data {
      margin-top: 10px;
    }
  }
}
@media (max-width: 767px) {
  .cards-details {
    margin-bottom: 40px;
    .cards-details-backBtn {
      img {
        top: 13px;
        left: 14px;
      }
    }
    .cards-details__img {
      padding-bottom: 40px;
    }
  }
}
