#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--backBtn);
    border-radius: 50%;
    box-shadow: none;
    .hydrated {
        margin-top: 6px;
        color: var(--secondary);
    }
}